@{
    ViewData["Title"] = "Yönetim Paneli";
    Layout = "_Layout";
}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 class="h3 mb-0 text-gray-800">Admin Dashboard</h1>
            <p class="text-muted">GigaChad Gym Yönetim Paneline Hoşgeldiniz</p>
        </div>
        <a href="/Home/Admin" class="btn btn-sm btn-outline-secondary">
            <i class="fa-solid fa-home"></i> Siteye Git
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-dark text-white">
                    <h6 class="m-0 font-weight-bold">Hızlı İşlemler</h6>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-3 mb-3">
                            <a asp-controller="Trainers" asp-action="Create" class="btn btn-outline-dark w-100 p-4">
                                <i class="fa fa-user-plus fa-2x mb-2"></i><br>Antrenör Ekle
                            </a>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a asp-controller="Services" asp-action="Create" class="btn btn-outline-dark w-100 p-4">
                                <i class="fa fa-plus-circle fa-2x mb-2"></i><br>Hizmet Ekle
                            </a>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a asp-controller="Services" asp-action="Index" class="btn btn-outline-secondary w-100 p-4">
                                <i class="fa fa-list fa-2x mb-2"></i><br>Hizmetleri Yönet
                            </a>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a asp-controller="Trainers" asp-action="Index" class="btn btn-outline-secondary w-100 p-4">
                                <i class="fa fa-users fa-2x mb-2"></i><br>Eğitmenleri Yönet
                            </a>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a asp-controller="Appointments" asp-action="PendingRequests" class="btn btn-outline-warning w-100 p-4">
                                <i class="fa fa-bell fa-2x mb-2"></i><br>Randevu Talepleri
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>